apps/dev/oracle-exporter/overlays/secrets/db-connect.txt
apps/dev/oracle-exporter/overlays/secrets/db-password.txt
apps/dev/oracle-exporter/overlays/secrets/db-secret.yaml
apps/dev/oracle-exporter/overlays/secrets/.DS*